<!DOCTYPE html>

<html>

<head>
    <title></title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .clickableRow {
            cursor: pointer;
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: #dddddd;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            background-color: white;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        td:hover {
            background-color: #007bff;
        }
        
        .alpha {
            color: black;
        }
        
        .jumbotheelephant {
            margin-top: 2rem;
        }
        
        .patient_row {
            border: 2px solid #007bff;
            padding: 8px;
            background-color: #E0E0E0;
        }
        
        body {
            background-color: #f8f9fa !important;
        }
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="public/stylesheets/main.css"> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>

    <!-- <script>
        $(function() {
            $("#datepicker").datepicker();
        });
    </script> -->





    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

    <!-- <script>
        $("#planned_checked").change(function() {
            if ($(this).prop('!checked')) {
                alert("Checked Box Selected");
            } else {
                alert("Checked Box deselect");
            }
        });
    </script> -->


</head>



<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <% if(currentUser){ %>
        <a class="navbar-brand" href="/patients">Συνδεδεμενος ως <%= currentUser.username %></a>
        <% } %>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <% if(!currentUser){ %>
                        <a class="nav-item nav-link active" href="/">Σύνδεση <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/register">Εγγραφή</a>
                        <% } else { %>
                            <a class="nav-item nav-link ajaxStaff" href="/staff">Προσωπικό Νοσοκομείου</a>
                            <a class="nav-item nav-link" href="/logout">Αποσύνδεση</a>
                            <% } %>
                </div>
            </div>
</nav>

<div class="container">
    <% if(error && error.length> 0){ %>
        <div class="alert alert-danger" role "alert">
            <%= error %>
        </div>
        <% } %>
            <% if(success && success.length> 0){ %>
                <div class="alert alert-success" role "alert">
                    <%= success %>
                </div>
                <% } %>

</div>