<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2022 Copyright: Giannis Damilatis
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="/js/staff.js"></script>
<script src="/js/myScripts.js"></script>

<script>
  let bElem = document.getElementById("patientBirthday");
  if (bElem) {
    bElem.setAttribute("max", new Date().toISOString().split("T")[0]);
  }
</script>

<script>
  jQuery(document).ready(function ($) {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });
  });
</script>
<script>
  var checkDiagnoses = $("#checkDiagnoses").val();
  var checkTreatments = $("#checkTreatments").val();
  var checkEffects = $("#checkEffects").val();

  checkDisableButton(checkDiagnoses, "#disableBtnPatient");
  function checkDisableButton(value, _id) {
    let myBool = value === "true";
    $(_id).prop("disabled", myBool);
  }
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
  integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script src="/js/sideEffects.js"></script>
