.btnColor {
    background-color: #003B46 !important;
}

.btnColor1 {
    background-color: #66A5AD !important;
}

.btnColor2 {
    background-color: #e3f2fd !important;
}

img {
    width: 100%
}

.clickableRow {
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #dddddd;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #e3f2fd;
}


/* tr:nth-child(even) {
    background-color: #dddddd;
} */


/* #waypointsTable tr:hover {
    background-color: yellow;
} */


/* tr:hover {
    background-color: #007bff;
} */

.hoveri td th {
    background-color: red;
}

.alpha {
    color: black;
}

.jumbotheelephant {
    margin-top: 2rem;
}

.patient_row {
    border: 2px solid #007bff;
    padding: 8px;
    background-color: #E0E0E0;
}

body {
    background-color: #f8f9fa;
}