<% include ./partials/header %>




<div class="container p-5">
    <h1>Εγγραφή</h1>
    <form action="/register" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Όνομα Χρηστη</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Όνομα">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Κωδικός</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Κωδικός">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Κωδικος Διαχειριστη</label>
        <input type="password" name="adminCode" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Admin Code">
    </div>
        <button type="submit" class="btn btn-primary">Υποβολή!</button>
    </form>
</div>



<% include ./partials/footer %>