<% include ../partials/header %>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/patients/">Πισω</a></li>
  </ol>
</nav>


<div class= "container">
    <div class="row">
      <div class="col-sm">
        <h1 class="text-center display-4 my-4">Δημιουργια φακελου καινουριου ασθενη</h1>
        
        <form action = "/patients"method = "POST">
            
        

        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Όνομα :</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"  name = "firstName" id="colFormLabel" placeholder="Όνομα" required minlength="1" maxlength="20">
          </div>
        </div>
          
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-4 col-form-label">Επώνυμο :</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name = "lastName" id="colFormLabel" placeholder="Επώνυμο" required minlength="1" maxlength="20">
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="birth">Ημερομηνία Γέννησης :</label>
            <div class="col-sm-5">
              <input type="date" class="form-control" placeholder="Ημερομηνία Γέννησης" id="colFormLabel" name="birthday">
            </div>
          </div>  
          
          
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Κινητο Τηλεφωνο :</label>
          <div class="col-sm-5">
            <input type="number" class="form-control"  name = "mPhone" id="colFormLabel" placeholder="Κινητο Τηλεφωνο" required maxlength="10">
          </div>
        </div>
        
        
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Σταθερο Τηλεφωνο :</label>
          <div class="col-sm-5">
            <input type="number" class="form-control"  name = "sPhone" id="colFormLabel" placeholder="Σταθερο Τηλεφωνο" required maxlength="10">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Πολη/Χωριο :</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"  name = "city" id="colFormLabel" placeholder="Πολη/Χωριο" required maxlength="20">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Διευθυνση :</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"  name = "address" id="colFormLabel" placeholder="Διευθυνση" required  maxlength="50">
          </div>
        </div>
        
        
        
        
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Ομαδα Αιματος :</label>
          <div class="col-sm-5">
              <select class="btn btn-secondary dropdown-toggle" class="bloodType" data-style="btn-info" name="bloodType">
                <optgroup label="Select Table">
                  <option name="-" value="-">-</option>
                  <option name="Α+" value="Α+">Α+</option>
                  <option name="0+" value="0+">0+</option>
                  <option name="Β+" value="Β+">Β+</option>
                  <option name="ΑΒ+" value="ΑΒ+">ΑΒ+</option>
                  <option name="Α-" value="Α-">Α-</option>
                  <option name="0-" value="0-">0-</option>
                  <option name="Β-" value="Β-">Β-</option>
                  <option name="ΑΒ-" value="ΑΒ-">ΑΒ-</option>
                </optgroup>
              </select>
          </div>
        </div>
 
        
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Γιατρος :</label>
          <div class="col-sm-5">
              <select class="btn btn-secondary dropdown-toggle" class="doc" data-style="btn-info" name="doc">
                <optgroup label="Select Table">
                  <option name="-" value="-">-</option>
                  <option name="Γεωργιαδη" value="Γεωργιαδη">Γεωργιαδη</option>
                  <option name="Αλεφραγκης" value="Αλεφραγκης">Αλεφραγκης</option>
                  <option name="Ζαχαρακης" value="Ζαχαρακης">Ζαχαρακης</option>
                </optgroup>
              </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Εχετε αλλεργιες ως προς τα τροφιμα η το περιβαλλον ;</label>
          <div class="col-sm-5">
              <select class="btn btn-secondary dropdown-toggle" class="alerg1" data-style="btn-info" name="alerg1">
                <optgroup label="Select Table">
                  <option name="-" value="-">-</option>
                  <option name="Ναι" value="Ναι">Ναι</option>
                  <option name="Οχι" value="Οχι">Οχι</option>
                </optgroup>
              </select>
          </div>
        </div>
        
        <div  class="form-group row" class="hide">
            <label class="col-sm-4 col-form-label" for="exampleTextarea">Ποιες οι αλλεργικες αντιδρασεις σας στο περιβαλλον και τα τροφιμα ;</label>
            <div>
              <textarea class="form-control" name = "alerg1_text" id="exampleTextarea" cols="100" rows="10"></textarea>
            </div>
          </div>
          
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-4 col-form-label">Εχετε αλλεργιες ως προς συγκεκριμενα φαρμακα η φαρμακευτικη αγωγη ;</label>
          <div class="col-sm-5">
              <select class="btn btn-secondary dropdown-toggle" class="alerg2" data-style="btn-info" name="alerg2">
                <optgroup label="Select Table">
                  <option name="-" value="-">-</option>
                  <option name="Ναι" value="Ναι">Ναι</option>
                  <option name="Οχι" value="Οχι">Οχι</option>
                </optgroup>
              </select>
          </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="exampleTextarea">Ποιες οι αλλεργικες αντιδρασεις σας στο περιβαλλον και τα τροφιμα ;</label>
            <div>
              <textarea class="form-control" name = "alerg2_text" id="exampleTextarea" cols="100" rows="10"></textarea>
            </div>
          </div>
        
        
        
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="exampleTextarea">Γενικές σημειώσεις :</label>
            <div>
              <textarea class="form-control" name = "general" id="exampleTextarea" cols="200" rows="10"></textarea>
            </div>
          </div>
          <div class="col-md-8 text-center">
              <button class="btn btn-primary btn-lg btn-block">Υποβολή!</button>
          </div>

        </form>
        
      </div>
    
    
    </div>
</div>

<% include ../partials/footer %>